.row{
    display: block;
}

.column {
    float: left;
    width: 50%;
    align-items: center;
    margin-top: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through background */
    border: 1px solid white;
    position: absolute;
    padding: 30px;
    text-align: center;
    color: rgb(255, 253, 253);
    font-size: 15px;
    font-weight: bold;
}

.kuva4{
    float: right;
    margin-top: 20px;
    margin-right: 70px;
    align-items: center;
    height: 615px;
    width: 500px; 
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}
.tausta{
    background-color: darkcyan;
}
.musta{
    color: black;
}

footer{
    margin-top: 65%;
}
.tumma{
    float: left;
    width: 50%;
    align-items: center;
    margin-top: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through background */
    border: 1px solid black;
    position: absolute;
    padding: 30px;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to a new line */
}

.flex-item-left,
.flex-item-right {
    flex: 50%; /* Equal width for both columns */
}

@media(max-width: 800px) {
    .flex-item-left,
    .flex-item-right {
        flex: 100%; /* One column layout for smaller screens */
    }
}

