nav{
    background-color: darkgray;
}
header{
    font-size: large;
}

aside{
    float: right;
    border-style: solid;
    height: 500px;
    width: 400px;
    background-color: lightblue;
    font-size: 12px;
    font-style: oblique;
}
h1{font-size: 10px;}

section{
    float: left;
    height: 500px;
    width: 400px;
}

.carousel {
    width: 640px;
    height: 360px;
}