
header{
    font-size: large;
}

aside{
    float: right;
    border-style: solid;
    height: 500px;
    width: 700px;
    background-color: lightblue;
    font-size: 15px;
    font-style: oblique;
}
h1{font-size: 10px;}

section{
    float: left;
    display: flex;
    align-items: center;
    height: 500px;
    width: 600px;
    margin-top: 20px;
}

nav{
    background-color: dimgrey;
}

aside{
    
        display: flex;
        justify-content: right;
        align-items: center;
        margin-top: 20px;
        left: 600px;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through background */
        border: 1px solid black;
        position: absolute;
        width: 500px;
        height: 700px;
        padding: 30px;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: bold;
        float: right;
      }

style{ @media screen { min-width: 320px; max-width: 769;
    
}}

.teksti{
    color:rgb(215, 212, 212)
}

.tausta{
    background-color: darkcyan;
}