footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
    background-color: darkgrey;
    color: white;
    text-shadow: 2px 2px, black;
    text-align: center;
    font-size: x-large;
}

header {
    text-align: center;
    color: black;
    width: 100%;
}