footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
    background-color: darkgrey;
    color: white;
    text-align: center;
    font-size: x-large;
    border-style: double; color: black;
}

.etusivu {
    text-align: center;
    color: black;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    border-style: double; color: black;
    background-color: darkgrey;
}

.japan {
    text-align: center;
    color: black;
    width: 100%;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    border-style: double; color: black;
    background-image: url(kirsikka2.jpg);
    background-size: cover;
    
}