footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: darkgrey;
    color: white;
    text-align: center;
    font-size: x-large;
    border-style: solid; color: black;
}


.etusivu {
    text-align: center;
    color: black;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    border-style: double; color: black;
    background-color: darkgrey;
}

.japan {
    text-align: center;
    color: black;
    width: 100%;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    border-style: solid; color: black;
    background-image: url(kirsikka2.jpg);
    background-size: cover;
}

.laatikko{
    text-align:center;
    font-size: 15px;
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through background */
    border: 2px solid; color: black;
    position: absolute;
    
  }

  .laatikko2{
    text-align: center;
    color: black;
    width: 100%;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    border: solid 2px; color: black;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through background */
  }
  .laatikko3{
    text-align: center;
    color: white;
    width: 100%;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    border: solid 2px; color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through background */
  }
.laatikko4{
    text-align: center;
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px; color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through background */
  }
